---
const timeDiff = Math.abs(Date.now() - new Date("1995-09-06").getTime());
const age = Math.floor(timeDiff / (1000 * 3600 * 24) / 365.25);
---

<section class="md:flex-1 flex justify-center">
  <div>
    <h4 class="text-lg mb-1 text-slate-600">Briefly about me</h4>
    <div class="space-y-2 text-slate-800">
      <p>
        I'm currently {age} years old and working as a software engineer in Trondheim,
        Norway
      </p>
      <p>
        I enjoy playing the piano, listening to music, catching up on my
        favorite shows, and learning new things
      </p>
    </div>
  </div>
</section>
