<section
  class="flex flex-col bg-slate-200 md:bg-white items-center text-center gap-8 md:justify-center md:text-left md:flex-row px-8 py-12"
>
  <div><img src="/taptapsimen.jpg" class="rounded-full h-32" /></div>
  <div>
    <h1 class="text-3xl font-light mb-2">
      Hi! I'm <span class="text-indigo-700">Simen</span>
    </h1>
    <p class="text-xl mb-4 font-light">
      A <span class="text-blue-700">software engineer</span>, passionate about
      <span class="text-pink-700">web development</span>
    </p>
    <div class="flex gap-2 h-6 justify-center md:justify-start mb-4">
      <a
        class="contents"
        href="https://www.linkedin.com/in/simen-nordb%C3%B8-abelsen-2b7366174/"
      >
        <img src="/LI-In-Bug.png" class="h-full" /></a
      >
      <a class="contents" href="https://github.com/simrayz/">
        <img src="/github-mark.png" class="h-full" />
      </a>
    </div>
    <p class="text-xs text-slate-500">
      <span>Avatar by</span>
      <a href="https://www.neichasart.com/" class="text-purple-500 font-bold"
        >Neicha's Art</a
      >
    </p>
  </div>
</section>
